.container {
  margin: 8.125rem auto 2.6875rem auto;
  border: 2px solid #379237;
  text-align: center;
  height: 31.25rem;
  width: 25rem;
  border-radius: 3.75rem 0.625rem 3.75rem 0.625rem;
  border-width: 3px;
}

h1 {
  margin: auto;
}
.row {
  border-radius: 3.5rem 0.3756rem 0 0;
  height: 5.625rem;
  padding: 1.25rem;
  height: 5.625rem;
  height: 5.625rem;
  width: 24.625;
  background-color: #b3ffae;
}
.input-group-text {
  border-radius: 5px 0 0 5px;
  height: 2.5rem;
}
.btn {
  width: 12.5rem;
}
hr {
  border-style: dotted none none none;
  border-width: 5px;
  width: 10%;
  border-color: grey;
  height: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
.form-control:focus {
  box-shadow: 0 0 0 0.1rem #379237;
}
.bottom-footer {
  text-align: center;
  background-color: #b3ffae;
  height: 90px;
  padding: 20px 10px;
}
.footer-link {
  color: #005555;
  margin: 10px 20px;
}
